@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .container {
    padding: 0 15px;
    max-width: 1440px;
  }

  /* Header */
  .header {
    max-width: 1440px;
  }
  .header .container {
    padding: 0 15px;
    justify-content: flex-start;
    max-width: 1158px;
  }
  .header .container .nav {
    display: flex;
    align-items: center;
    margin-right: 282px;
  }
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--color-iris);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .nav .logo {
    margin-right: 76px;
  }
  .logo-web {
    color: var(--color-navy-blue);
  }

  .menu {
    display: flex;
    gap: 40px;
  }
  .nav-item {
    display: inline-block;
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
  .menu .active {
    position: relative;
  }
  .menu .active::after {
    position: absolute;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: var(--color-ocean);
    content: '';
  }
  .nav-item:hover,
  .nav-item:focus,
  .menu .active {
    color: var(--color-ocean);
  }

  .header-contact {
    font-style: normal;
  }
  .contact-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contact-item {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
  }

  .contact-item:hover,
  .contact-item:focus {
    color: var(--color-ocean);
  }

  /* Hero */
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }
  .hero-title {
    margin-bottom: 48px;
  }

  /* Our advantages */
  .our-advantages-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .our-advantages-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
  .advantages-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--color-light-slate);
    background-color: var(--color-cloud);
  }
  .advantages-icons .icon {
    width: 64px;
    height: 64px;
  }
  .our-advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }

  /* Our team */
  .our-team-list {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1128px;
  }
  .our-team-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }

  /* Our Portfolio */
  .our-portfolio-list {
    flex-wrap: wrap;
    max-width: 1128px;
  }
  .our-portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .our-portfolio-item:nth-child(n + 4) {
    margin-bottom: 0;
  }

  /* Footer */
  .footer {
    padding: 100px 0;
  }
  .footer .container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 16px;
    align-items: baseline;
    max-width: 1158px;
    margin: 0 auto;
  }
  .footer-left-block {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-social {
    margin-right: 80px;
  }

  /* Modal window with form */
  .modal {
    width: 480px;
  }
}
